#div1{
    width:$w;
    height:$x;
    .aa{
        font-size: 12px;
    }
    &:hover{
        background: #000;
    }
}


//命名空间 dialong-1,dialong-2,dialong-...
//& 引用父选择器
// &-text 


// &属性嵌套


//&属性改名


//@mixin  @include 配置样式  +指定名字$c: +默认名字()


//继承  @extend   继承子选择器


//@import'base/commen';  引入  样式重置  公用 _commen = commen


//算数
// + - * /
//斜杠 /  left top/coverfont-size:(20px /10)
//abs(-10px)   ceil(5.6)=6 round(5.5)=四舍五入  
// floor=(5.5) = 5 percentage(3 /100) min() max()



//字符串拼接 +
//to-upper-case



//颜色

